@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo de la página */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Estilos para el encabezado principal */
h1 {
    font-size: 2.5rem;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #444;
    padding: 1.5rem;
}

nav ul {
    list-style: none;
    text-align: center;
    
}

nav ul li {
    display: inline;
    margin: 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para el contenido principal */
main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

/* Estilos para la imagen principal */
img {
    display: block;
    margin: 0 auto;
    padding: 50px;
    max-width: 100%;
    height: auto;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    section h2 {
        font-size: 1.8rem;
    }

    section p {
        font-size: 1rem;
    }
}

/* Estilos para el nav cuando el mouse pasa sobre los enlaces */
nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    transition: all 0.3s ease;
}

/* Estilos para el nav cuando un enlace está activo */
nav ul li a.active {
    background-color: #777;
    color: #fff;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}


/* Estilos para el botón de inicio */
.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 5px; /* Borde redondeado */
    margin-right: 20px; /* Espaciado a la derecha para separarlo del título */
    margin-left: 20px; /* Espaciado a la izquierda */
    margin-top: 20px; /* Espaciado arriba */
    float: left;
}

.home-button:hover {
    background-color: #555; /* Cambio de color al pasar el cursor */
}
